body {
  margin: 0;
  padding: 0;
  background-color: hsl(204, 43%, 93%) !important;
  font-family: "Karla", sans-serif;
  width: 100vw;
  height: 100vh;
}

p,
h3 {
  color: hsl(255, 100%, 100%);
}

p {
  font-size: 16px;
  margin-bottom: 0 !important;
}

h2,
h3 {
  font-size: 20px !important;
}

h1 {
  color: hsl(179, 62%, 43%);
  font-size: 25px !important;
}

h2 {
  color: hsl(71, 73%, 54%);
}

span {
  font-weight: 600;
  font-size: 25px;
}

button {
  width: 100%;
  margin-top: 30px !important;
  padding: 10px 40px;
  font-weight: 600;
  color: hsl(255, 100%, 100%);
  background-color: hsl(71, 73%, 54%);
  border-radius: 5px !important;
  border: none;
  box-shadow: 0px 5px 20px 0px #00000020;
}

button:hover {
  background-color: hsl(71, 80%, 53%);
  transition: 0.3s ease-in-out;
}

.col-lg-12 {
  border-radius: 7px 7px 0 0;
}

.col-lg-6 {
  padding: 50px !important;
}

.col-lg-6:nth-child(2) {
  border-radius: 0 0 0 7px;
}

.col-lg-6:nth-child(3) {
  border-radius: 0 0 7px 0;
}

.pt-20 {
  padding-top: 20vh;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-15 {
  padding-bottom: 10px;
}

.gray-font {
  color: hsl(222, 6%, 68%);
}

.main-content {
  border-radius: 8px;
  box-shadow: 0px 5px 20px 0px #00000020;
  padding: 0 !important;
}

.white-bg {
  background-color: hsl(255, 100%, 100%);
  padding: 50px !important;
}

.cyan-bg {
  background-color: hsl(179, 62%, 43%);
}

.cyan-bg-light {
  background-color: hsl(179, 61%, 46%);
}

.price span {
  position: relative;
  top: 3px;
  color: hsl(255, 100%, 100%);
  margin-right: 10px;
}

.price {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px !important;
}

@media only screen and (min-width: 1440px) {
  .main-content {
    width: 35% !important;
  }
}

@media only screen and (max-width: 1399px) and (min-width: 769px) {
  .main-content {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .pt-20 {
    padding-bottom: 25vh;
  }

  .col-lg-6:nth-child(2) {
    border-radius: 0;
  }

  .col-lg-6:nth-child(3) {
    border-radius: 0 0 7px 7px;
  }
}
